@model CSC.NotesMgnt.Application.DTOs.NoteDTO

@{
    ViewData["Title"] = "Create Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Note Created Successfully</h1>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
